In [1]:
#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
@author: shawn
"""
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
import matplotlib.transforms as transforms

## Generate 10 BM-sorted portfolios

In [2]:
df = pd.read_csv('/Users/shawn/Github/M1/金融計量/TWstocks.csv')
df.head()

,證券代碼,年月,收盤價(元)_月,報酬率％_月,流通在外股數(千股),市值(百萬元),市值比重％,開盤價(元)_月,最高價(元)_月,最低價(元)_月,...,本益比-TEJ,股價淨值比-TSE,股價淨值比-TEJ,股價營收比-TEJ,股利殖利率-TSE,現金股利率,股價漲跌(元),高低價差%,市場別,該月結束日
0,1101 台泥,201001,10.92,-12.2058,3292175,98271,0.516,12.43,13.31,10.68,...,16.14,1.28,1.28,4.57,4.42,4.42,-4.15,21.1765,TSE,20100129
1,1102 亞泥,201001,12.76,-12.4276,2985735,90468,0.475,14.57,15.20,12.57,...,12.67,1.26,1.26,8.56,6.93,5.77,-4.30,18.0636,TSE,20100129
2,1103 嘉泥,201001,9.23,-12.7072,717877,11342,0.060,10.63,11.04,9.06,...,56.97,0.68,0.68,4.50,0.00,0.00,-2.30,18.7845,TSE,20100129
3,1104 環泥,201001,7.54,-7.1428,603891,9813,0.052,8.12,9.10,7.31,...,65.70,0.81,0.81,3.16,0.00,0.00,-1.25,22.0000,TSE,20100129
4,1108 幸福,201001,5.03,-11.5084,404738,3206,0.017,5.68,5.94,4.96,...,NaN,0.75,0.75,1.09,0.00,0.00,-1.03,17.3184,TSE,20100129

In [3]:
df['帳面市值比'] = 1/df['股價淨值比-TEJ']

In [4]:
df['bm_sorted'] = df.groupby('年月')['帳面市值比'].transform(lambda x: pd.qcut(x, q=10, labels=['q1', 'q2', 'q3', 'q4', 'q5', 'q6', 'q7', 'q8', 'q9', 'q10']))

In [5]:
df

,證券代碼,年月,收盤價(元)_月,報酬率％_月,流通在外股數(千股),市值(百萬元),市值比重％,開盤價(元)_月,最高價(元)_月,最低價(元)_月,...,股價淨值比-TEJ,股價營收比-TEJ,股利殖利率-TSE,現金股利率,股價漲跌(元),高低價差%,市場別,該月結束日,帳面市值比,bm_sorted
0,1101 台泥,201001,10.92,-12.2058,3292175,98271,0.516,12.43,13.31,10.68,...,1.28,4.57,4.42,4.42,-4.15,21.1765,TSE,20100129,0.781250,q7
1,1102 亞泥,201001,12.76,-12.4276,2985735,90468,0.475,14.57,15.20,12.57,...,1.26,8.56,6.93,5.77,-4.30,18.0636,TSE,20100129,0.793651,q7
2,1103 嘉泥,201001,9.23,-12.7072,717877,11342,0.060,10.63,11.04,9.06,...,0.68,4.50,0.00,0.00,-2.30,18.7845,TSE,20100129,1.470588,q10
3,1104 環泥,201001,7.54,-7.1428,603891,9813,0.052,8.12,9.10,7.31,...,0.81,3.16,0.00,0.00,-1.25,22.0000,TSE,20100129,1.234568,q9
4,1108 幸福,201001,5.03,-11.5084,404738,3206,0.017,5.68,5.94,4.96,...,0.75,1.09,0.00,0.00,-1.03,17.3184,TSE,20100129,1.333333,q10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141420,9944 新麗,202312,20.20,-1.2224,109107,2204,0.004,20.45,20.90,20.05,...,0.62,1.00,5.20,5.20,-0.25,4.1565,TSE,20231226,1.612903,q10
141421,9945 潤泰新,202312,36.70,2.5140,2844225,104383,0.186,35.80,37.70,35.70,...,1.23,3.58,0.00,0.00,0.90,5.5866,TSE,20231226,0.813008,q8
141422,9946 三發地產,202312,20.50,0.0000,326554,6694,0.012,20.50,21.65,18.95,...,1.05,7.81,2.10,2.09,0.00,13.1707,TSE,20231226,0.952381,q8
141423,9955 佳龍,202312,24.70,-0.8032,103208,2549,0.005,25.00,27.10,23.75,...,1.90,2.27,0.00,0.00,-0.20,13.4538,TSE,20231226,0.526316,q5
141424,9958 世紀鋼,202312,172.50,3.9157,235980,40707,0.073,167.50,198.00,165.50,...,5.16,3.26,0.28,0.29,6.50,19.5783,TSE,20231226,0.193798,q1

In [6]:
df.drop(df[df['bm_sorted'] == ''].index, inplace=True)
df.head()

,證券代碼,年月,收盤價(元)_月,報酬率％_月,流通在外股數(千股),市值(百萬元),市值比重％,開盤價(元)_月,最高價(元)_月,最低價(元)_月,...,股價淨值比-TEJ,股價營收比-TEJ,股利殖利率-TSE,現金股利率,股價漲跌(元),高低價差%,市場別,該月結束日,帳面市值比,bm_sorted
0,1101 台泥,201001,10.92,-12.2058,3292175,98271,0.516,12.43,13.31,10.68,...,1.28,4.57,4.42,4.42,-4.15,21.1765,TSE,20100129,0.781250,q7
1,1102 亞泥,201001,12.76,-12.4276,2985735,90468,0.475,14.57,15.20,12.57,...,1.26,8.56,6.93,5.77,-4.30,18.0636,TSE,20100129,0.793651,q7
2,1103 嘉泥,201001,9.23,-12.7072,717877,11342,0.060,10.63,11.04,9.06,...,0.68,4.50,0.00,0.00,-2.30,18.7845,TSE,20100129,1.470588,q10
3,1104 環泥,201001,7.54,-7.1428,603891,9813,0.052,8.12,9.10,7.31,...,0.81,3.16,0.00,0.00,-1.25,22.0000,TSE,20100129,1.234568,q9
4,1108 幸福,201001,5.03,-11.5084,404738,3206,0.017,5.68,5.94,4.96,...,0.75,1.09,0.00,0.00,-1.03,17.3184,TSE,20100129,1.333333,q10

In [7]:
weighted_returns = df.groupby(['年月', 'bm_sorted']).apply(lambda x: (x['報酬率％_月'] * x['市值(百萬元)']).sum() / x['市值(百萬元)'].sum()).reset_index()
weighted_returns.columns = ['date', 'portf', 'ExRet']

In [8]:
weighted_returns

        date portf     ExRet
0     201001    q1 -5.027228
1     201001    q2 -8.424896
2     201001    q3 -6.732658
3     201001    q4 -1.436506
4     201001    q5 -4.770209
...      ...   ...       ...
1675  202312    q6  2.397972
1676  202312    q7  1.312054
1677  202312    q8  1.200335
1678  202312    q9  1.089851
1679  202312   q10  8.875138

[1680 rows x 3 columns]

In [9]:
result_df = weighted_returns.pivot(index='date', columns='portf', values='ExRet')
result_df

portf,q1,q2,q3,q4,q5,q6,q7,q8,q9,q10
date,,,,,,,,,,
201001,-5.027228,-8.424896,-6.732658,-1.436506,-4.770209,-8.365229,-8.341692,-7.097961,-8.389895,-7.958640
201002,-2.426740,-3.014030,1.763838,-0.875661,-4.521193,-3.844191,-4.005428,-2.639724,-1.934897,-5.710806
201003,7.819233,7.781354,3.888791,3.212918,8.136377,6.613820,6.342818,6.899869,8.585533,8.926918
201004,0.861420,6.434448,0.224513,2.129265,1.795063,2.279480,-0.022408,0.224053,0.023982,-0.191450
201005,-2.652358,-12.591204,-6.327463,-7.744850,-6.884849,-8.734748,-9.248592,-9.427231,-8.152392,-8.577374
...,...,...,...,...,...,...,...,...,...,...
202308,-1.707663,-3.161076,-0.783905,-3.475925,-2.219517,-1.423077,-2.599828,-2.147927,-3.136239,-4.088283
202309,-3.108415,0.454384,0.889020,-0.341851,1.963255,0.502679,-0.690748,-1.110708,-1.071185,0.777541
202310,-1.027793,0.917107,-3.473666,-2.071393,-0.679304,-3.269331,-2.048929,-2.704947,-4.127151,-4.010835
202311,10.303171,13.140327,7.489250,9.580910,8.503395,8.111597,10.368458,6.985847,6.188581,4.501508
202312,2.039080,2.967933,-0.109854,6.699661,1.349080,2.397972,1.312054,1.200335,1.089851,8.875138

In [10]:
result_df.to_csv('/Users/shawn/Github/M1/金融計量/10_bm.csv')